*{
    padding: 0px;
    margin: 0px;
    font-family: cursive;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gm3-sys-color-surface-container,#f0f4f9);
}
.box{
    height: 25rem;
    width: 70rem;
    border-radius: 30px;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
    
}
.google-logo{
    height: 50px;
    width: 50px;
    background-image: url("img/pngwing.com.png");
    background-size: cover;
    margin: 30px;
    
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sing-in {
    margin-bottom: 40px;
}
span{
     font-size: 35px;
     margin: 10px;
     margin-left: 35px;
}
input{
    height: 25px;
    width: 500px;
    padding: 15px;
    margin-right: 25px;
    font-size: 25px;
}
.box p{
    margin: 20px;
    margin-left: 35px;
    font-size: 15px;
}
a{
    display: flex;
    color: var(--gm3-sys-color-primary, #0b57d0);
    text-decoration: none;
}
.btn{
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 50px;
    margin-top: 20px;
    gap: 30px;
}
.one{
    height: 25px;
    border: none ;
    background-color: transparent;
    color: var(--gm3-sys-color-primary, #0b57d0);
}
.two{
    height: 40px;
    width: 80px;
    border-radius: 15px;
    background-color: #0b57d0;
    color: white;
    border: none;
    
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.end{
    height: 25px;
    width: 160px;
    border-radius: 12px;
    padding: 5px;
}
select{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 15px;
    outline: none;
    
}
.end2{
    display: flex;
    gap: 20px;
    
}
.end2 a{
    color: black;
}

